build
*.pyc
*.swp
*.so
*.log
build
dist
MANIFEST
.project
.pydevproject
pni.egg-info/
conan_imports_manifest.txt
conaninfo.txt
conanbuildinfo.txt
.cproject
Issue_53_Test.nx
issue_48_test.nx
GroupTest.h5
GroupCreationTests.h5
AttributeIOTests.h5
DatasetAllIOTests.h5
DatasetExtentTest.h5
DatasetPartialIOTests.h5
FilterCreationTest.h5
H5pyCompatibilityReading.h5
pni.egg-info/
conan_imports_manifest.txt
conanbuildinfo.txt
conaninfo.txt

test/**/*.h5
test/**/*.pyc
test/**/lib
test/**/*.o
test/**/*.nx
test/**/pypninxtest
test/**/.sconf_temp
test/**/*.nxs

.settings/org.eclipse.core.resources.prefs
.settings/language.settings.xml

doc/devel

doc/examples/**/*.h5
doc/examples/attributes_access.nxs
doc/examples/attributes_properties.nxs
doc/examples/attribute_io.nxs
doc/examples/detector.nxs
doc/examples/internal_link.nxs
doc/examples/master_file.nxs
doc/examples/nxgroup_ex1.nxs
doc/examples/test_string2.nxs

doc/sphinx/_build

pninexus.egg-info/PKG-INFO
pninexus.egg-info/SOURCES.txt
pninexus.egg-info/dependency_links.txt
pninexus.egg-info/top_level.txt

src/**/*.os
src/**/*.so
src/**/*.o
src/**/*.h5
src/pninexus.egg-info/
src/pninexus/libs/




