build
*.pyc
*.swp
*.so
*.log
build
dist
MANIFEST
/.project
/.pydevproject
/pni.egg-info/
/conan_imports_manifest.txt
/conaninfo.txt
/conanbuildinfo.txt
/.cproject
/Issue_53_Test.nx
/issue_48_test.nx
/GroupCreationTests.h5
/AttributeIOTests.h5
/DatasetAllIOTests.h5
/DatasetExtentTest.h5
/DatasetPartialIOTests.h5
/FilterCreationTest.h5
/H5pyCompatibilityReading.h5
/pni.egg-info/
/conan_imports_manifest.txt
/conanbuildinfo.txt
/conaninfo.txt
