build
*.pyc
*.swp
*.so
*.log
build
dist
MANIFEST
/.project
/.pydevproject
/pni.egg-info/
/conan_imports_manifest.txt
/conaninfo.txt
/conanbuildinfo.txt
/.cproject
/Issue_53_Test.nx
/issue_48_test.nx
/GroupCreationTests.h5
