recursive-include src *.hpp *.cpp
# recursive-include pni/test *.hpp *.cpp
include doc/sphinx/*
include build_tools/*.py
include pkgconfig.py
graft build/sphinx/html 
# recursive-include doc/c++api/c++api *
