name: Test Package

on: [push, pull_request]

jobs:

  flake8_tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        run: flake8 .

  python3_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [debian11, debian10, ubuntu20.10, ubuntu20.04, ubuntu19.10]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Update bash files
        run: |
          chmod +x .ci/run.sh
          chmod +x .ci/install.sh
      - name: Build the docker
        env:
          OS: ${{ matrix.os }}
        run: docker build -t ndts .travis/${OS}_py3; fi
      - name: Run the docker
        run: docker run --name  ndts -d -it -v `pwd`:/home/tango  ndts; fi
      - name: install python-pninexus
        run: .ci/install.sh 3
      - name: run tests
        run: .ci/run.sh 3
      - name: Stop the docker
        run: docker container stop ndts

  python2_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [debian10, ubuntu19.10]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Update bash files
        run: |
          chmod +x .ci/run.sh
          chmod +x .ci/install.sh
      - name: Build the docker
        env:
          OS: ${{ matrix.os }}
        run: docker build -t ndts .travis/${OS}_py2; fi
      - name: Run the docker
        run: docker run --name  ndts -d -it -v `pwd`:/home/tango  ndts; fi
      - name: install python-pninexus
        run: .ci/install.sh 2
      - name: run tests
        run: .ci/run.sh 2
      - name: Stop the docker
        run: docker container stop ndts
